
.btn-group{
    display: none !important;
}

header{
    height: 40px;
    color: #fff;
    text-align: center;
}
header ul{
    list-style-type: none;
}
header ul li{
    display: inline;
}
header ul li a{
    color: #fff;
    margin: 20px;

}

#container{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(pictures/picture2.jpg);
    background-size: cover;
    background-repeat: none;
    width: 100%;
    margin: 10px;
    height: auto;
    padding: 20px;
    color: white;
   
    
}


.first-div{
    text-align: center;
    margin: 20px;
    padding: 20px;
    color: #fff;
}

.first-div img{
    border-radius: 50%;
    border: 2px solid white;
}
.first-div button{
    border: none;
    padding: 15px;
}











@media (max-width: 480px){

    
}